@keyframes contentSlide {
  

    0% {
      transform: translateX(-50px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

.projects:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(11, 11, 11, 0.85);
}

.projects {
  position: relative;
  z-index: 1;
  text-align: center;
  background-image: url("/748KB_hero_webDevelop.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 2rem 1rem;
  /* margin: 0 auto; */
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 4rem;
  margin-top: 3rem;
  transition: all 0.3s ease;
  }

.visible .card {
    animation: contentSlide 0.5s ease-out forwards;
  }
  
  .visible .card:nth-child(1) { animation-delay: 0.1s; }
  .visible .card:nth-child(2) { animation-delay: 0.2s; }
  .visible .card:nth-child(3) { animation-delay: 0.3s; }
  .visible .card:nth-child(4) { animation-delay: 0.4s; }
  .visible .card:nth-child(5) { animation-delay: 0.5s; }
  .visible .card:nth-child(6) { animation-delay: 0.6s; }
  

.card {
    opacity: 0;
    transform: translateX(-50px);
}


.card:hover{
    transform: 1s scale(1.05);

}

.imageContainer {
  position: relative;
  aspect-ratio: 4/3;
  overflow: hidden;
  border-radius: 12px;
  background: var(--color-surface);
  margin-bottom: .5rem;
  
}


.image {
  object-fit: cover;
  transition: transform 0.5s ease;
}

.card:hover .image {
  transform: scale(1.05);
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card:hover .overlay {
  opacity: 1;
}

.viewBtn {
  background: white;
  color: black;
  padding: 0.8rem 1.5rem;
  border-radius: 50px;
  font-weight: 500;
  transform: translateY(20px);
  transition: transform 0.3s ease;
}

.card:hover .viewBtn {
  transform: translateY(0);
}

.category {
  font-size: 0.875rem;
  color: var(--color-text-secondary);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  display: block;
  margin-bottom: 0.25rem;
}

.projectTitle {
  font-family: var(--font-primary);
  font-size: 1.5rem;
  font-weight: 600;
}

.info {
  background-color: rgba(11, 11, 11, 0.7);
  padding: 1rem;
  border-radius: 12px;
}