.hero {
  min-height: 100dvh;
  /* Altura total moderna */
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding-top: 80px;
  /* Espaço para o header */
  background-image: url("/1.07MB_banner.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero::before {
  content: '';
  position: absolute;
  top: 25vh;
  left: 0;
  width: 80vw;
  height: 65vh;
  background-color: rgba(0, 0, 0, 0.6);
  /* Overlay escuro */
  z-index: 1;
  animation: contentSlide 1.5s forwards;

}

@keyframes contentSlide {


  0% {
    transform: translateX(-50px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  align-items: center;
  position: relative;
  z-index: 2;
  transition: all 0.5s ease;
  animation: contentSlide 1s ease forwards;
}

.subtitle {
  color: var(--color-accent);
  font-weight: 600;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 1.075rem;
}

.subtitle::after {
  content: '';
  display: block;
  width: 40vw;
  height: 4px;
  background: var(--color-accent);
  margin-top: 0.5rem;
  border-radius: 2px;
}

.title {
  font-family: var(--font-primary);
  font-size: clamp(3rem, 6vw, 5rem);
  line-height: 1;
  margin-bottom: 1.5rem;
  font-weight: 700;
}

.title::after {
  content: '';
  display: block;
  width: 44.7vw;
  height: 4px;
  background: var(--color-accent);
  border-radius: 2px;
}

.description {
  color: var(--color-text-secondary);
  font-size: 1.255rem;
  max-width: 500px;
  margin-bottom: 2.5rem;
  line-height: 1.6;
  font-weight: 600;
}

.description::after {
  content: '';
  display: block;
  width: 40vw;
  height: 2px;
  background: yellow;
  border-radius: 2px;
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.iconContainer { 
  display: flex;
  align-items: center;
  justify-content:center;
  gap: 1rem;
  transition: color 0.2s;
}
.iconContainer svg{ 
  width: 1.5rem;
  height: 1.5rem;
  color: var(--color-accent);
}
  .actions:hover {
  color: var(--color-text-primary);
}


.primaryBtn,
.secondaryBtn {
  padding: 1rem 2rem;
  border-radius: 50px;
  font-weight: 500;
  transition: transform 0.2s;
  width: 20rem;
}

.primaryBtn {
  background: var(--color-text-primary);
  color: var(--color-bg);
}

.secondaryBtn {
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(0, 0, 0, 0.5);
}

.primaryBtn:hover,
.secondaryBtn:hover {
  transform: translateY(-2px);
}

.imageWrapper {
  position: relative;
  max-width: 600px;
  display: flex;
  justify-content: center;
}

.image {
  width: clamp(360px, calc(30vw + 60px), 600px);
  max-width: 600px;
  height: auto;
  object-fit: cover;
  border-radius: 22px;

}


.image img {
  object-fit: cover;
  border-radius: 22px;
}


@media (max-width: 768px) {

  .hero {
    background-attachment: scroll;

  }

  .hero::before {
    width: 100vw;
    height: 68vh;
    top: 8vh;
  }

  .content {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 3rem;
  }

  .actions {
    justify-content: center;
  }

  .description {
    margin: 0 auto 2.5rem;
  }

}