/* Design System: Tokens Globais */
:root {
  /* Assumindo que você definiu --font-clash no layout.js, usamos ela aqui. 
     Se você usou outro nome ou fonte do Google, ele virá via essa variável. */
  --font-primary: var(--font-clash), sans-serif;
  --font-secondary: system-ui, -apple-system, sans-serif;

  /* Cores - Paleta Dark/Modern */
  --color-bg: #0b0b0b;
  --color-surface: #272222;
  --color-text-primary: #ffffff;
  --color-text-secondary: rgb(243, 182, 26);
  --color-accent: #3b82f6; /* Azul elétrico para destaque */
  
  --spacing-container: 1280px;
  --spacing-section: 6rem;
  
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--color-bg);
  color: var(--color-text-primary);
  /* APLICAÇÃO GLOBAL DA FONTE PRIMÁRIA */
  font-family: var(--font-primary); 
  scroll-behavior: smooth;
}

/* Se quiser garantir que títulos tenham a fonte, embora o body já herde */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-primary);
}

a {
  color: inherit;
  text-decoration: none;
}

/* Utilitários */
.container {
  width: 100%;
  max-width: var(--spacing-container);
  margin: 0 auto;
  padding: 0 1.5rem;
}

.section {
  padding: var(--spacing-section) 0;
}

.title {
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: clamp(2rem, 5vw, 3.5rem);
  line-height: 1.1;
  margin-bottom: 1.5rem;
}